<!DOCTYPE html >
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>TODO supply a title</title>

        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <!-- newer version of bootstrap -->
        <link rel="stylesheet" type="text/css" href="bootCSS/bootstrap-theme.min.css" />
        <link rel="stylesheet" type="text/css" href="bootCSS/bootstrap.min.css" />
        <link rel="stylesheet" type="text/css" href="bootCSS/bootstrap-theme.css" />
        <link rel="stylesheet" type="text/css" href="bootCSS/bootstrap.css" />

        <!-- Old Version Of Bootstrap   -->
        <link rel="stylesheet" href="css/meanmenu.min.css" />
        <link rel="stylesheet" href="css/bootstrap.min.css" />
        <link rel="stylesheet" href="css/font-awesome.min.css" />
        <link rel="stylesheet" href="css/responsive.css" />
        <link rel="stylesheet" href="css/setings.css" />

        <!-- my styles -->
        <link rel="stylesheet" href="css/web_styles.css" />




        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />


        <script src="js/angular.js"></script>
        <script src="js/angular-route.js"></script>
        <script src="js/angular-route-min.js"></script>

        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>


    </head >
    <body >

     <nav class="navbar" style="margin-top: 1%;">
            <div class="container">

                <ul class="nav navbar-nav navbar-left">

                    <a ng-click="goto('/');">
                        <img src="images/logo.PNG" width="182" height="44" alt="logo"/>

                    </a>

                </ul >

                <ul id="navLI" class="nav navbar-nav navbar-right" style="width:70%;">
                    <li class="navLI">
                        &nbsp;<button  ng-click="goto('/cart');" class="dropbtn " id="cartIcon" ><span class="glyphicon glyphicon-shopping-cart"></span> &nbsp;{{cart.length}}</button>
                    </li>
                    <li class="smallLine " >
                        <div class="dropdown">
                            <button class="myAccountDropDown" >My Account<span class="caret"></span></button>
                            <div class="dropdown-content">
                                <a ng-click="manageAccount();" >Update My Account</a>
                            </div>
                        </div>
                    </li>
                    <li class="smallLine">
                        <p ><a  ng-if="loginStatus === null" ng-click="goto('/login');" >Login</a>
                            <a ng-click="logout('/logout')" ng-if="loginStatus !== null">Logout</a></p>
                    </li>
                    <li class="smallLine ">
                        <p > <span ng-if=" loginStatus !== null">{{loginStatus}}</span>
                            <span ng-if="loginStatus === null">Hi!</span></p>
                    </li>   
                </ul>

            </div>

            <div class="blueLine">
                <div class="container" >
                    <div class="nav navbar-nav navbar-left">
                        
                        <div class="dropdown">
                            <button  class="dropbtn" style=" height: 30px;width: 182px;background-color: black;color: white;font-size: 16px;border: none;">Shop By Category<span class="caret"></span></button>
                            <div class="dropdown-content">
                                <a ng-click="loadCategory('Cameras');">Cameras</a>
                                <a ng-click="loadCategory('Computers');">Computers</a>
                                <a ng-click="loadCategory('Cellphones');">Cell phones</a>
                                <a ng-click="loadCategory('Books');">Books</a>
                                <a ng-click="loadCategory('Sport');">Sport</a>
                                <a ng-click="loadCategory('Music');">Music</a>
                                <a ng-click="loadCategory('books');"><img src="images/dailydeals_flat.gif" width="175" height="25" alt="dailydeals_flat"/></a>
                            </div>
                        </div>

                    </div>
                    
                    <ul class="nav navbar-nav navbar-right" style="width:80%;">
                        <li style="width: 23%;margin-right: 0.5%;">
                            <select class="form-control" id="sel1">
                                <option>Search All Category</option>
                                <option>Cameras</option>
                                <option>Computers</option>
                                <option>Books</option>
                                <option>Sport</option>
                                <option>Music</option>
                            </select>
                        </li>
                        <li style="width: 75%;">
                            <div class="input-group">

                                <input style="width: 100%;" type="text" class="form-control" aria-describedby="search-query"/>
                                <span class="input-group-addon" id="search-query"><span class="glyphicon glyphicon-search"></span></span>

                            </div>
                        </li>       

                    </ul>

                </div>
            </div>
        </nav>


        <!--Body Content -->
        <div class="container" >

            <div style="height: 5px;" class="row categories">

                <div class="col-md-3" ></div>
                <div class="col-md-9 categories" ><h4><u>Category :</u> {{category}}</h4></div>

            </div>
            <br/><br/>
            <div class="row" >
                <div class="col-md-3"  ></div>
                <div class="col-md-9 categories">
                    <div style="margin-top: 0.1%" class="table-responsive ">
                        <table class="table ">
                            <thead>
                                <tr style="width: 100%;height: 35px;border: none;background-color: #1d78cb;">

                                    <td class="image">Item</td>
                                    <td class="description" colspan="2">Item Description</td>
                                    <td class="quantity"></td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="prod in categoryProducts" >

                                    <td class="">
                                        <img ng-src="{{prod.IMAGEURL}}" width="100" height="100" alt="dailydeals_flat"/>
                                    </td>
                                    <td class="" colspan="2">
                                        {{prod.DESC}}<br/>R {{prod.PRICE}}
                                    </td>

                                    <td class="">
                                        <button type="submit" ng-click="addToCart(prod.ID)" class="btn btn-success">
                                            <span class="glyphicon glyphicon-shopping-cart"></span>
                                            Add to cart
                                        </button>
                                    </td>

                               </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>  

        </div>      
        <br/><br/><br/>
        <div class="container ">

            <div class="footer">
                <div class="left">
                    <a href="#">Home</a>
                    <span>|</span>
                    <a href="#">Support</a>
                    <span>|</span>
                    <a href="#">My Account</a>
                    <span>|</span>
                    <a href="#">The Store</a>
                    <span>|</span>
                    <a href="#">Contact</a>


                    <div class="right">
                        &copy; 2017 Take A Lot Web Application.
                        Design by <a href="#" target="_blank" title="Takealot Web Application">Sifiso</a>
                    </div> 

                </div>

            </div>
        </div>

    </body>
</html>